html(lang="en")
head
    title(text="diary home")
    link(rel="stylehsheet" type="text/css" href="diary.css") 

body 
    header
  
        h1 diary
    nav 
        li 
            a(href="/") home
        li 
            a(href="/auth") login   
        li 
            a(href="/notes") notes
    main
