html(lang="en")
head
    title(text="journal auth")
    link(rel="stylehsheet" type="text/css" href="diary.css") 
    meta(name='viewport', content='width=device-width, initial-scale=1' )


body 
    header
  
        h1 diary
    nav 
        li 
            a(href="/") home
        li 
            a(href="/auth") login   
        li 
            a(href="/notes") notes
    main
        h3 post
        form(action="/post" method="post") 
            label
                input(name="title" type="text")
            br
            label 
                textarea(name="description")
            br    

            label 
                input(name="mood scale" min=0 max=10 type="number")
                br
            label 
                input(type="submit")
            
